In [48]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [49]:
pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /usr/local/lib/python3.10/dist-packages (3.29.2)
Requirement already satisfied: geomet<0.3,>=0.1 in /usr/local/lib/python3.10/dist-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)

In [50]:
import pandas as pd

In [51]:
df = pd.read_csv("/content/drive/MyDrive/BIG DATA TOOLS AND TECHNIQUES - 1/sales_100.csv")

In [52]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json
import pandas as pd

In [53]:
cloud_config= {
  'secure_connect_bundle': '/content/drive/MyDrive/BIG DATA TOOLS AND TECHNIQUES - 1/secure-connect-cassandra.zip'
}
with open("/content/drive/MyDrive/BIG DATA TOOLS AND TECHNIQUES - 1/Cassandra-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

if session:
  print('Connected!')
else:
  print("An error occurred.")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for 51343b40-baf4-4517-af6a-506a6f3328b5-eu-west-1.db.astra.datastax.com:29042:678e6a1d-e5b1-3cba-b949-7bfaf823957f. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for 51343b40-baf4-4517-af6a-506a6f3328b5-eu-west-1.db.astra.datastax.com:29042:678e6a1d-e5b1-3cba-b949-7bfaf823957f. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for 51343b40-baf4-4517-af6a-506a6f3328b5-eu-west-1.db.astra.datastax.com:29042:678e6a1d-e5b1-3cba-b949-7bfaf823957f. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Connected!

In [33]:
df.columns

Index(['region', 'order_id', 'country', 'item_type', 'order_date',
       'order_priority', 'sales_channel', 'ship_date', 'total_cost',
       'total_profit', 'total_revenue', 'unit_cost', 'unit_price',
       'units_sold'],
      dtype='object')

In [54]:
session.set_keyspace('sales_medallion')

In [56]:
rows = session.execute("SELECT * FROM system_schema.columns WHERE keyspace_name = 'sales_medallion' AND table_name = 'bronze_sales'")
for row in rows:
    print(f"Column: {row.column_name}, Type: {row.type}")

Column: country, Type: text
Column: item_type, Type: text
Column: order_date, Type: text
Column: order_id, Type: bigint
Column: order_priority, Type: text
Column: region, Type: text
Column: sales_channel, Type: text
Column: ship_date, Type: text
Column: total_cost, Type: float
Column: total_profit, Type: float
Column: total_revenue, Type: float
Column: unit_cost, Type: float
Column: unit_price, Type: float
Column: units_sold, Type: int

In [55]:
session.execute("""
CREATE TABLE IF NOT EXISTS bronze_sales (
    order_id TEXT PRIMARY KEY,
    region TEXT,
    country TEXT,
    item_type TEXT,
    sales_channel TEXT,
    order_priority TEXT,
    order_date TEXT,
    ship_date TEXT,
    units_sold INT,
    unit_price DECIMAL,
    unit_cost DECIMAL,
    total_revenue DECIMAL,
    total_cost DECIMAL,
    total_profit DECIMAL
)
""")

In [57]:
rows = session.execute("SELECT table_name FROM system_schema.tables WHERE keyspace_name = 'sales_medallion'")
tables = [row.table_name for row in rows]
if 'bronze_sales' in tables:
    print("The bronze_sales table exists.")
else:
    print("The bronze_sales table does not exist.")

The bronze_sales table exists.

In [58]:
# Import data from CSV
df = pd.read_csv('/content/drive/MyDrive/BIG DATA TOOLS AND TECHNIQUES - 1/sales_100.csv')

# Prepare the insert statement
insert_statement = session.prepare("""
    INSERT INTO bronze_sales (
        order_id, region, country, item_type, sales_channel, order_priority,
        order_date, ship_date, units_sold, unit_price, unit_cost,
        total_revenue, total_cost, total_profit
    )
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

# Insert data row by row
for _, row in df.iterrows():
    session.execute(insert_statement, (
        int(row['Order ID']),  # Convert to int for bigint
        row['Region'],
        row['Country'],
        row['Item Type'],
        row['Sales Channel'],
        row['Order Priority'],
        row['Order Date'],
        row['Ship Date'],
        int(row['UnitsSold']),  # Ensure this is an int
        float(row['UnitPrice']),  # Convert to float
        float(row['UnitCost']),  # Convert to float
        float(row['TotalRevenue']),  # Convert to float
        float(row['TotalCost']),  # Convert to float
        float(row['TotalProfit'])  # Convert to float
    ))

print("Data inserted into bronze_sales table.")

Data inserted into bronze_sales table.

In [59]:
# Retrieve and display all rows from the bronze_sales table
print("Data in bronze_sales table:")
rows = session.execute("SELECT * FROM bronze_sales")
for row in rows:
    print(row)

Data in bronze_sales table:
Row(order_id=294530856, country='Italy', item_type='Cereal', order_date='11/15/2011', order_priority='M', region='Europe', sales_channel='Online', ship_date='12/28/2011', total_cost=829138.8125, total_profit=627217.1875, total_revenue=1456356.0, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7080)
Row(order_id=274930989, country='Dominica', item_type='Household', order_date='11/19/2011', order_priority='C', region='Central America and the Caribbean', sales_channel='Offline', ship_date='12/13/2011', total_cost=3539891.75, total_profit=1167402.125, total_revenue=4707294.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7044)
Row(order_id=498071897, country='Taiwan', item_type='Cereal', order_date='4/11/2010', order_priority='H', region='Asia', sales_channel='Online', ship_date='5/26/2010', total_cost=1100482.625, total_profit=832480.25, total_revenue=1932962.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=9397)
Row(order_id=940980136, country='New Zealand', item_type='Beverages', order_date='10/11/2012', order_priority='M', region='Australia and Oceania', sales_channel='Online', ship_date='11/4/2012', total_cost=184000.515625, total_profit=90640.078125, total_revenue=274640.59375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=5788)
Row(order_id=324669444, country='France', item_type='Cosmetics', order_date='12/7/2015', order_priority='M', region='Europe', sales_channel='Online', ship_date='1/18/2016', total_cost=1516254.125, total_profit=1001143.4375, total_revenue=2517397.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=5758)
Row(order_id=830410039, country='Switzerland', item_type='Office Supplies', order_date='7/29/2014', order_priority='C', region='Europe', sales_channel='Offline', ship_date='8/27/2014', total_cost=2960249.5, total_profit=711923.75, total_revenue=3672173.25, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5639)
Row(order_id=953361213, country='Zimbabwe', item_type='Office Supplies', order_date='3/28/2011', order_priority='C', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='4/8/2011', total_cost=5051690.0, total_profit=1214903.75, total_revenue=6266594.0, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9623)
Row(order_id=425418365, country='United Arab Emirates', item_type='Office Supplies', order_date='6/23/2012', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='7/6/2012', total_cost=5041191.0, total_profit=1212378.75, total_revenue=6253569.5, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9603)
Row(order_id=349235904, country='Mauritius ', item_type='Clothes', order_date='11/17/2012', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='12/2/2012', total_cost=197836.796875, total_profit=405388.8125, total_revenue=603225.625, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=5520)
Row(order_id=246248090, country='The Bahamas', item_type='Personal Care', order_date='1/19/2011', order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date='2/21/2011', total_cost=517793.78125, total_profit=228973.21875, total_revenue=746767.0, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9137)
Row(order_id=368977391, country='Canada', item_type='Cosmetics', order_date='5/9/2011', order_priority='H', region='North America', sales_channel='Online', ship_date='6/2/2011', total_cost=1965495.125, total_profit=1297765.625, total_revenue=3263260.75, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7464)
Row(order_id=572335612, country='Vanuatu', item_type='Cereal', order_date='6/20/2014', order_priority='C', region='Australia and Oceania', sales_channel='Offline', ship_date='8/5/2014', total_cost=665301.9375, total_profit=503279.78125, total_revenue=1168581.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=5681)
Row(order_id=443368995, country='South Africa', item_type='Fruits', order_date='7/27/2012', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='7/28/2012', total_cost=11023.5595703125, total_profit=3839.1298828125, total_revenue=14862.6904296875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1593)
Row(order_id=156295812, country='East Timor', item_type='Cereal', order_date='12/7/2015', order_priority='M', region='Australia and Oceania', sales_channel='Offline', ship_date='12/30/2015', total_cost=30331.490234375, total_profit=22944.810546875, total_revenue=53276.30078125, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=259)
Row(order_id=807785928, country='Ethiopia', item_type='Cosmetics', order_date='7/7/2011', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='7/25/2011', total_cost=174324.453125, total_profit=115101.9375, total_revenue=289426.40625, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=662)
Row(order_id=678896129, country='Indonesia', item_type='Personal Care', order_date='10/22/2012', order_priority='L', region='Asia', sales_channel='Offline', ship_date='10/31/2012', total_cost=527371.0, total_profit=233208.359375, total_revenue=760579.375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9306)
Row(order_id=520480573, country='Indonesia', item_type='Household', order_date='9/28/2011', order_priority='C', region='Asia', sales_channel='Online', ship_date='9/28/2011', total_cost=313082.40625, total_profit=103249.7890625, total_revenue=416332.21875, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=623)
Row(order_id=925136649, country='Serbia', item_type='Clothes', order_date='7/6/2016', order_priority='L', region='Europe', sales_channel='Offline', ship_date='7/13/2016', total_cost=263352.3125, total_profit=539637.125, total_revenue=802989.4375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=7348)
Row(order_id=222504317, country='Belgium', item_type='Personal Care', order_date='11/1/2011', order_priority='H', region='Europe', sales_channel='Online', ship_date='11/20/2011', total_cost=160206.09375, total_profit=70844.6171875, total_revenue=231050.703125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=2827)
Row(order_id=563681733, country='Togo', item_type='Cosmetics', order_date='9/8/2015', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='9/9/2015', total_cost=1265564.0, total_profit=835619.25, total_revenue=2101183.25, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=4806)
Row(order_id=488121116, country='The Bahamas', item_type='Fruits', order_date='6/18/2010', order_priority='L', region='Central America and the Caribbean', sales_channel='Offline', ship_date='6/30/2010', total_cost=32800.80078125, total_profit=11423.400390625, total_revenue=44224.19921875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=4740)
Row(order_id=839094388, country='Tonga', item_type='Baby Food', order_date='5/11/2016', order_priority='L', region='Australia and Oceania', sales_channel='Online', ship_date='5/31/2016', total_cost=881752.0, total_profit=530201.6875, total_revenue=1411953.625, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=5531)
Row(order_id=500371730, country='Pakistan', item_type='Meat', order_date='12/28/2013', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='2/15/2014', total_cost=3635594.5, total_profit=570226.8125, total_revenue=4205821.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9969)
Row(order_id=845056617, country='Netherlands', item_type='Fruits', order_date='11/19/2016', order_priority='L', region='Europe', sales_channel='Online', ship_date='11/30/2016', total_cost=68418.0390625, total_profit=23827.669921875, total_revenue=92245.7109375, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=9887)
Row(order_id=434008300, country='Thailand', item_type='Fruits', order_date='9/30/2012', order_priority='C', region='Asia', sales_channel='Offline', ship_date='11/14/2012', total_cost=10760.599609375, total_profit=3747.550048828125, total_revenue=14508.150390625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1555)
Row(order_id=862861335, country='The Gambia', item_type='Fruits', order_date='11/20/2011', order_priority='C', region='Sub-Saharan Africa', sales_channel='Online', ship_date='11/22/2011', total_cost=60197.078125, total_profit=20964.58984375, total_revenue=81161.671875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=8699)
Row(order_id=756839835, country='Romania', item_type='Beverages', order_date='2/19/2012', order_priority='M', region='Europe', sales_channel='Online', ship_date='3/13/2012', total_cost=145629.984375, total_profit=71738.4609375, total_revenue=217368.453125, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4581)
Row(order_id=479969346, country='Tunisia ', item_type='Cosmetics', order_date='7/1/2012', order_priority='H', region='Middle East and North Africa', sales_channel='Offline', ship_date='7/20/2012', total_cost=645158.5, total_profit=425981.5, total_revenue=1071140.0, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=2450)
Row(order_id=116205585, country='Turkmenistan', item_type='Vegetables', order_date='4/13/2015', order_priority='M', region='Asia', sales_channel='Online', ship_date='6/2/2015', total_cost=606503.125, total_profit=421077.09375, total_revenue=1027580.1875, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=6670)
Row(order_id=496523940, country='Ghana', item_type='Fruits', order_date='5/29/2016', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='6/4/2016', total_cost=9155.16015625, total_profit=3188.429931640625, total_revenue=12343.58984375, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1323)
Row(order_id=710296428, country='Kazakhstan', item_type='Snacks', order_date='9/8/2013', order_priority='L', region='Asia', sales_channel='Online', ship_date='10/25/2013', total_cost=131738.875, total_profit=74549.28125, total_revenue=206288.15625, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=1352)
Row(order_id=642134416, country='Finland', item_type='Vegetables', order_date='10/9/2012', order_priority='C', region='Europe', sales_channel='Offline', ship_date='11/27/2012', total_cost=63469.140625, total_profit=44064.73828125, total_revenue=107533.8828125, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=698)
Row(order_id=573998582, country='Nicaragua', item_type='Household', order_date='10/28/2015', order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date='12/7/2015', total_cost=3915289.25, total_profit=1291202.375, total_revenue=5206491.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7791)
Row(order_id=584356629, country='Democratic Republic of the Congo', item_type='Cosmetics', order_date='10/7/2012', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='10/25/2012', total_cost=781300.125, total_profit=515872.28125, total_revenue=1297172.375, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=2967)
Row(order_id=704205024, country='Lebanon', item_type='Meat', order_date='3/8/2017', order_priority='L', region='Middle East and North Africa', sales_channel='Online', ship_date='4/18/2017', total_cost=3198331.25, total_profit=501644.0, total_revenue=3699975.25, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=8770)
Row(order_id=830192887, country='Sri Lanka', item_type='Fruits', order_date='11/7/2011', order_priority='L', region='Asia', sales_channel='Online', ship_date='12/18/2011', total_cost=9542.6796875, total_profit=3323.389892578125, total_revenue=12866.0703125, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1379)
Row(order_id=835696351, country='Estonia', item_type='Household', order_date='9/1/2011', order_priority='H', region='Europe', sales_channel='Offline', ship_date='10/21/2011', total_cost=5013339.0, total_profit=1653322.5, total_revenue=6666661.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=9976)
Row(order_id=731120240, country='Saint Lucia', item_type='Fruits', order_date='12/12/2015', order_priority='L', region='Central America and the Caribbean', sales_channel='Offline', ship_date='1/12/2016', total_cost=24780.51953125, total_profit=8630.2099609375, total_revenue=33410.73046875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3581)
Row(order_id=371502530, country='Israel', item_type='Beverages', order_date='9/8/2013', order_priority='H', region='Middle East and North Africa', sales_channel='Offline', ship_date='10/13/2013', total_cost=149699.109375, total_profit=73742.9375, total_revenue=223442.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4709)
Row(order_id=425793445, country='Seychelles ', item_type='Beverages', order_date='1/18/2013', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='2/16/2013', total_cost=18978.630859375, total_profit=9349.01953125, total_revenue=28327.650390625, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=597)
Row(order_id=937431466, country='Samoa ', item_type='Household', order_date='12/5/2016', order_priority='L', region='Australia and Oceania', sales_channel='Online', ship_date='12/8/2016', total_cost=2842868.75, total_profit=937534.625, total_revenue=3780403.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=5657)
Row(order_id=485070693, country='Haiti', item_type='Office Supplies', order_date='12/31/2010', order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date='1/31/2011', total_cost=1077217.875, total_profit=259065.0, total_revenue=1336282.875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2052)
Row(order_id=757619178, country='Turkmenistan', item_type='Meat', order_date='4/30/2017', order_priority='M', region='Asia', sales_channel='Online', ship_date='5/14/2017', total_cost=1898576.125, total_profit=297783.1875, total_revenue=2196359.25, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=5206)
Row(order_id=882908809, country='Egypt', item_type='Clothes', order_date='8/9/2016', order_priority='C', region='Middle East and North Africa', sales_channel='Online', ship_date='8/24/2016', total_cost=42721.28125, total_profit=87540.4765625, total_revenue=130261.7578125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=1192)
Row(order_id=146634709, country='Liberia', item_type='Baby Food', order_date='6/6/2015', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='6/12/2015', total_cost=211072.078125, total_profit=126918.640625, total_revenue=337990.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=1324)
Row(order_id=363086831, country='Mali', item_type='Household', order_date='8/19/2010', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='9/7/2010', total_cost=2169465.25, total_profit=715456.4375, total_revenue=2884921.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=4317)
Row(order_id=179137074, country='Nepal', item_type='Meat', order_date='2/21/2014', order_priority='H', region='Asia', sales_channel='Online', ship_date='3/14/2014', total_cost=3463096.25, total_profit=543171.1875, total_revenue=4006267.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9496)
Row(order_id=529276502, country='Burundi', item_type='Beverages', order_date='3/9/2011', order_priority='H', region='Sub-Saharan Africa', sales_channel='Online', ship_date='4/9/2011', total_cost=112314.0703125, total_profit=55326.78125, total_revenue=167640.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3533)
Row(order_id=297876536, country='South Korea', item_type='Meat', order_date='3/16/2016', order_priority='L', region='Asia', sales_channel='Offline', ship_date='4/20/2016', total_cost=2604251.25, total_profit=408465.1875, total_revenue=3012716.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=7141)
Row(order_id=459386289, country='Kuwait', item_type='Household', order_date='6/13/2011', order_priority='C', region='Middle East and North Africa', sales_channel='Offline', ship_date='7/21/2011', total_cost=736723.625, total_profit=242960.1875, total_revenue=979683.8125, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=1466)
Row(order_id=887124383, country='Greece', item_type='Cereal', order_date='8/22/2015', order_priority='H', region='Europe', sales_channel='Online', ship_date='10/8/2015', total_cost=1015812.125, total_profit=768429.6875, total_revenue=1784241.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=8674)
Row(order_id=824714744, country='Dominican Republic', item_type='Baby Food', order_date='8/25/2011', order_priority='H', region='Central America and the Caribbean', sales_channel='Offline', ship_date='9/24/2011', total_cost=43681.078125, total_profit=26265.640625, total_revenue=69946.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=274)
Row(order_id=842238795, country='Uganda', item_type='Cosmetics', order_date='2/28/2015', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='3/15/2015', total_cost=1588143.25, total_profit=1048610.0, total_revenue=2636753.25, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=6031)
Row(order_id=797385394, country='Italy', item_type='Office Supplies', order_date='3/29/2011', order_priority='H', region='Europe', sales_channel='Online', ship_date='4/11/2011', total_cost=1529208.5, total_profit=367766.25, total_revenue=1896974.75, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2913)
Row(order_id=153842341, country='Brunei', item_type='Cereal', order_date='5/28/2013', order_priority='L', region='Asia', sales_channel='Offline', ship_date='7/16/2013', total_cost=494438.40625, total_profit=374026.96875, total_revenue=868465.375, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=4222)
Row(order_id=659878194, country='Tanzania', item_type='Beverages', order_date='11/30/2016', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='1/16/2017', total_cost=46922.0390625, total_profit=23114.16015625, total_revenue=70036.203125, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=1476)
Row(order_id=314505374, country='Vietnam', item_type='Personal Care', order_date='4/4/2010', order_priority='M', region='Asia', sales_channel='Online', ship_date='5/6/2010', total_cost=452453.28125, total_profit=200079.046875, total_revenue=652532.3125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=7984)
Row(order_id=791778934, country='Ghana', item_type='Clothes', order_date='11/2/2011', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='12/1/2011', total_cost=137482.234375, total_profit=281715.84375, total_revenue=419198.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=3836)

In [51]:
# Create Silver table with region as part of the primary key
session.execute("""
CREATE TABLE IF NOT EXISTS silver_sales (
    order_id BIGINT,
    region TEXT,
    country TEXT,
    item_type TEXT,
    sales_channel TEXT,
    order_priority TEXT,
    order_date DATE,
    ship_date DATE,
    units_sold INT,
    unit_price FLOAT,
    unit_cost FLOAT,
    total_revenue FLOAT,
    total_cost FLOAT,
    total_profit FLOAT,
    PRIMARY KEY (region, order_id)  -- Include region in the primary key
)
""")

In [52]:
# Transfer and clean data from Bronze to Silver
rows = session.execute("SELECT * FROM bronze_sales")
for row in rows:
    clean_order_date = pd.to_datetime(row.order_date).date()
    clean_ship_date = pd.to_datetime(row.ship_date).date()

    session.execute("""
    INSERT INTO silver_sales (
        order_id, region, country, item_type, sales_channel, order_priority,
        order_date, ship_date, units_sold, unit_price, unit_cost,
        total_revenue, total_cost, total_profit
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row.order_id,
        row.region,
        row.country,
        row.item_type,
        row.sales_channel,
        row.order_priority,
        clean_order_date,
        clean_ship_date,
        row.units_sold,
        row.unit_price,
        row.unit_cost,
        row.total_revenue,
        row.total_cost,
        row.total_profit
    ))

print("Data cleaned and inserted into silver_sales table.")

Data cleaned and inserted into silver_sales table.

In [54]:
# Retrieve and display all rows from the silver_sales table
print("\nData in silver_sales table:")
silver_rows = session.execute("SELECT * FROM silver_sales")
for silver_row in silver_rows:
    print(silver_row)

Data in silver_sales table:
Row(region='Australia and Oceania', order_id=101328551, country='Solomon Islands', item_type='Household', order_date=Date(14960), order_priority='M', sales_channel='Online', ship_date=Date(14971), total_cost=2123231.5, total_profit=700209.25, total_revenue=2823440.75, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=4225)
Row(region='Australia and Oceania', order_id=156295812, country='East Timor', item_type='Cereal', order_date=Date(16776), order_priority='M', sales_channel='Offline', ship_date=Date(16799), total_cost=30331.490234375, total_profit=22944.810546875, total_revenue=53276.30078125, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=259)
Row(region='Australia and Oceania', order_id=571997869, country='Vanuatu', item_type='Fruits', order_date=Date(16012), order_priority='C', sales_channel='Online', ship_date=Date(16020), total_cost=39686.19921875, total_profit=13821.349609375, total_revenue=53507.55078125, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=5735)
Row(region='Australia and Oceania', order_id=572335612, country='Vanuatu', item_type='Cereal', order_date=Date(16241), order_priority='C', sales_channel='Offline', ship_date=Date(16287), total_cost=665301.9375, total_profit=503279.78125, total_revenue=1168581.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=5681)
Row(region='Australia and Oceania', order_id=647164094, country='Papua New Guinea', item_type='Clothes', order_date=Date(15145), order_priority='L', sales_channel='Offline', ship_date=Date(15169), total_cost=325857.28125, total_profit=667716.5, total_revenue=993573.75, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=9092)
Row(region='Australia and Oceania', order_id=839094388, country='Tonga', item_type='Baby Food', order_date=Date(16932), order_priority='L', sales_channel='Online', ship_date=Date(16952), total_cost=881752.0, total_profit=530201.6875, total_revenue=1411953.625, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=5531)
Row(region='Australia and Oceania', order_id=937431466, country='Samoa ', item_type='Household', order_date=Date(17140), order_priority='L', sales_channel='Online', ship_date=Date(17143), total_cost=2842868.75, total_profit=937534.625, total_revenue=3780403.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=5657)
Row(region='Australia and Oceania', order_id=940980136, country='New Zealand', item_type='Beverages', order_date=Date(15624), order_priority='M', sales_channel='Online', ship_date=Date(15648), total_cost=184000.515625, total_profit=90640.078125, total_revenue=274640.59375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=5788)
Row(region='Australia and Oceania', order_id=940995585, country='Papua New Guinea', item_type='Meat', order_date=Date(16570), order_priority='M', sales_channel='Offline', ship_date=Date(16590), total_cost=131288.40625, total_profit=20592.0, total_revenue=151880.40625, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=360)
Row(region='Europe', order_id=104191863, country='Albania', item_type='Personal Care', order_date=Date(16837), order_priority='M', sales_channel='Offline', ship_date=Date(16842), total_cost=87441.8125, total_profit=38667.578125, total_revenue=126109.390625, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=1543)
Row(region='Europe', order_id=135178029, country='United Kingdom', item_type='Cosmetics', order_date=Date(16556), order_priority='L', sales_channel='Online', ship_date=Date(16571), total_cost=273336.53125, total_profit=180477.0625, total_revenue=453813.59375, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=1038)
Row(region='Europe', order_id=174590194, country='Slovakia', item_type='Beverages', order_date=Date(17100), order_priority='L', sales_channel='Offline', ship_date=Date(17139), total_cost=126301.671875, total_profit=62217.1796875, total_revenue=188518.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3973)
Row(region='Europe', order_id=180908620, country='Moldova ', item_type='Fruits', order_date=Date(15732), order_priority='C', sales_channel='Online', ship_date=Date(15767), total_cost=25853.119140625, total_profit=9003.759765625, total_revenue=34856.87890625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3736)
Row(region='Europe', order_id=222504317, country='Belgium', item_type='Personal Care', order_date=Date(15279), order_priority='H', sales_channel='Online', ship_date=Date(15298), total_cost=160206.09375, total_profit=70844.6171875, total_revenue=231050.703125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=2827)
Row(region='Europe', order_id=265081918, country='Sweden', item_type='Beverages', order_date=Date(15596), order_priority='H', sales_channel='Online', ship_date=Date(15625), total_cost=78998.1484375, total_profit=38915.1015625, total_revenue=117913.25, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=2485)
Row(region='Europe', order_id=294530856, country='Italy', item_type='Cereal', order_date=Date(15293), order_priority='M', sales_channel='Online', ship_date=Date(15336), total_cost=829138.8125, total_profit=627217.1875, total_revenue=1456356.0, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7080)
Row(region='Europe', order_id=324669444, country='France', item_type='Cosmetics', order_date=Date(16776), order_priority='M', sales_channel='Online', ship_date=Date(16818), total_cost=1516254.125, total_profit=1001143.4375, total_revenue=2517397.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=5758)
Row(region='Europe', order_id=467399013, country='Monaco', item_type='Beverages', order_date=Date(16950), order_priority='M', sales_channel='Offline', ship_date=Date(16966), total_cost=82940.109375, total_profit=40856.94140625, total_revenue=123797.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=2609)
Row(region='Europe', order_id=633134210, country='Romania', item_type='Cereal', order_date=Date(16541), order_priority='M', sales_channel='Online', ship_date=Date(16543), total_cost=859236.0625, total_profit=649984.8125, total_revenue=1509220.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7337)
Row(region='Europe', order_id=642134416, country='Finland', item_type='Vegetables', order_date=Date(15622), order_priority='C', sales_channel='Offline', ship_date=Date(15671), total_cost=63469.140625, total_profit=44064.73828125, total_revenue=107533.8828125, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=698)
Row(region='Europe', order_id=678230941, country='Iceland', item_type='Baby Food', order_date=Date(14884), order_priority='M', sales_channel='Offline', ship_date=Date(14916), total_cost=392492.03125, total_profit=236007.3125, total_revenue=628499.375, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=2462)
Row(region='Europe', order_id=726137769, country='Czech Republic', item_type='Cosmetics', order_date=Date(16151), order_priority='H', sales_channel='Online', ship_date=Date(16186), total_cost=2411312.75, total_profit=1592127.625, total_revenue=4003440.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=9157)
Row(region='Europe', order_id=752525556, country='Albania', item_type='Baby Food', order_date=Date(15540), order_priority='H', sales_channel='Offline', ship_date=Date(15565), total_cost=1257823.75, total_profit=756335.375, total_revenue=2014159.25, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=7890)
Row(region='Europe', order_id=756839835, country='Romania', item_type='Beverages', order_date=Date(15389), order_priority='M', sales_channel='Online', ship_date=Date(15412), total_cost=145629.984375, total_profit=71738.4609375, total_revenue=217368.453125, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4581)
Row(region='Europe', order_id=757257401, country='Finland', item_type='Household', order_date=Date(16815), order_priority='H', sales_channel='Offline', ship_date=Date(16831), total_cost=4094696.0, total_profit=1350368.0, total_revenue=5445064.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=8148)
Row(region='Europe', order_id=797385394, country='Italy', item_type='Office Supplies', order_date=Date(15062), order_priority='H', sales_channel='Online', ship_date=Date(15075), total_cost=1529208.5, total_profit=367766.25, total_revenue=1896974.75, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2913)
Row(region='Europe', order_id=830410039, country='Switzerland', item_type='Office Supplies', order_date=Date(16280), order_priority='C', sales_channel='Offline', ship_date=Date(16309), total_cost=2960249.5, total_profit=711923.75, total_revenue=3672173.25, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5639)
Row(region='Europe', order_id=835696351, country='Estonia', item_type='Household', order_date=Date(15218), order_priority='H', sales_channel='Offline', ship_date=Date(15268), total_cost=5013339.0, total_profit=1653322.5, total_revenue=6666661.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=9976)
Row(region='Europe', order_id=845056617, country='Netherlands', item_type='Fruits', order_date=Date(17124), order_priority='L', sales_channel='Online', ship_date=Date(17135), total_cost=68418.0390625, total_profit=23827.669921875, total_revenue=92245.7109375, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=9887)
Row(region='Europe', order_id=887124383, country='Greece', item_type='Cereal', order_date=Date(16669), order_priority='H', sales_channel='Online', ship_date=Date(16716), total_cost=1015812.125, total_profit=768429.6875, total_revenue=1784241.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=8674)
Row(region='Europe', order_id=887409770, country='Italy', item_type='Cereal', order_date=Date(16769), order_priority='C', sales_channel='Online', ship_date=Date(16774), total_cost=366085.875, total_profit=276932.34375, total_revenue=643018.1875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=3126)
Row(region='Europe', order_id=902511680, country='Montenegro', item_type='Clothes', order_date=Date(17048), order_priority='M', sales_channel='Offline', ship_date=Date(17052), total_cost=75873.28125, total_profit=155472.484375, total_revenue=231345.765625, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=2117)
Row(region='Europe', order_id=925136649, country='Serbia', item_type='Clothes', order_date=Date(16988), order_priority='L', sales_channel='Offline', ship_date=Date(16995), total_cost=263352.3125, total_profit=539637.125, total_revenue=802989.4375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=7348)
Row(region='Middle East and North Africa', order_id=358570849, country='Oman', item_type='Cosmetics', order_date=Date(14942), order_priority='H', sales_channel='Online', ship_date=Date(14971), total_cost=2090050.25, total_profit=1380006.25, total_revenue=3470056.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7937)
Row(region='Middle East and North Africa', order_id=371502530, country='Israel', item_type='Beverages', order_date=Date(15956), order_priority='H', sales_channel='Offline', ship_date=Date(15991), total_cost=149699.109375, total_profit=73742.9375, total_revenue=223442.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4709)
Row(region='Middle East and North Africa', order_id=425418365, country='United Arab Emirates', item_type='Office Supplies', order_date=Date(15514), order_priority='M', sales_channel='Online', ship_date=Date(15527), total_cost=5041191.0, total_profit=1212378.75, total_revenue=6253569.5, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9603)
Row(region='Middle East and North Africa', order_id=459386289, country='Kuwait', item_type='Household', order_date=Date(15138), order_priority='C', sales_channel='Offline', ship_date=Date(15176), total_cost=736723.625, total_profit=242960.1875, total_revenue=979683.8125, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=1466)
Row(region='Middle East and North Africa', order_id=479969346, country='Tunisia ', item_type='Cosmetics', order_date=Date(15522), order_priority='H', sales_channel='Offline', ship_date=Date(15541), total_cost=645158.5, total_profit=425981.5, total_revenue=1071140.0, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=2450)
Row(region='Middle East and North Africa', order_id=500371730, country='Pakistan', item_type='Meat', order_date=Date(16067), order_priority='M', sales_channel='Online', ship_date=Date(16116), total_cost=3635594.5, total_profit=570226.8125, total_revenue=4205821.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9969)
Row(region='Middle East and North Africa', order_id=667593514, country='Morocco', item_type='Clothes', order_date=Date(15962), order_priority='M', sales_channel='Online', ship_date=Date(15997), total_cost=165258.234375, total_profit=338631.84375, total_revenue=503890.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=4611)
Row(region='Middle East and North Africa', order_id=704205024, country='Lebanon', item_type='Meat', order_date=Date(17233), order_priority='L', sales_channel='Online', ship_date=Date(17274), total_cost=3198331.25, total_profit=501644.0, total_revenue=3699975.25, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=8770)
Row(region='Middle East and North Africa', order_id=761723172, country='Algeria', item_type='Cosmetics', order_date=Date(15023), order_priority='M', sales_channel='Online', ship_date=Date(15029), total_cost=2546137.75, total_profit=1681149.0, total_revenue=4227287.0, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=9669)
Row(region='Middle East and North Africa', order_id=882908809, country='Egypt', item_type='Clothes', order_date=Date(17022), order_priority='C', sales_channel='Online', ship_date=Date(17037), total_cost=42721.28125, total_profit=87540.4765625, total_revenue=130261.7578125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=1192)
Row(region='Central America and the Caribbean', order_id=246248090, country='The Bahamas', item_type='Personal Care', order_date=Date(14993), order_priority='C', sales_channel='Online', ship_date=Date(15026), total_cost=517793.78125, total_profit=228973.21875, total_revenue=746767.0, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9137)
Row(region='Central America and the Caribbean', order_id=274930989, country='Dominica', item_type='Household', order_date=Date(15297), order_priority='C', sales_channel='Offline', ship_date=Date(15321), total_cost=3539891.75, total_profit=1167402.125, total_revenue=4707294.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7044)
Row(region='Central America and the Caribbean', order_id=286891067, country='Antigua and Barbuda ', item_type='Office Supplies', order_date=Date(15249), order_priority='C', sales_channel='Offline', ship_date=Date(15251), total_cost=3305673.0, total_profit=794996.25, total_revenue=4100669.25, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=6297)
Row(region='Central America and the Caribbean', order_id=315402734, country='Belize', item_type='Personal Care', order_date=Date(16600), order_priority='H', sales_channel='Online', ship_date=Date(16649), total_cost=200215.109375, total_profit=88536.9765625, total_revenue=288752.09375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=3533)
Row(region='Central America and the Caribbean', order_id=343752610, country='Nicaragua', item_type='Baby Food', order_date=Date(17116), order_priority='L', sales_channel='Online', ship_date=Date(17121), total_cost=460883.21875, total_profit=277131.25, total_revenue=738014.5, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=2891)
Row(region='Central America and the Caribbean', order_id=438011872, country='Dominica', item_type='Beverages', order_date=Date(15503), order_priority='L', sales_channel='Online', ship_date=Date(15539), total_cost=200308.796875, total_profit=98673.65625, total_revenue=298982.4375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=6301)
Row(region='Central America and the Caribbean', order_id=485070693, country='Haiti', item_type='Office Supplies', order_date=Date(14974), order_priority='C', sales_channel='Online', ship_date=Date(15005), total_cost=1077217.875, total_profit=259065.0, total_revenue=1336282.875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2052)
Row(region='Central America and the Caribbean', order_id=488121116, country='The Bahamas', item_type='Fruits', order_date=Date(14778), order_priority='L', sales_channel='Offline', ship_date=Date(14790), total_cost=32800.80078125, total_profit=11423.400390625, total_revenue=44224.19921875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=4740)
Row(region='Central America and the Caribbean', order_id=573998582, country='Nicaragua', item_type='Household', order_date=Date(16736), order_priority='C', sales_channel='Online', ship_date=Date(16776), total_cost=3915289.25, total_profit=1291202.375, total_revenue=5206491.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7791)
Row(region='Central America and the Caribbean', order_id=731120240, country='Saint Lucia', item_type='Fruits', order_date=Date(16781), order_priority='L', sales_channel='Offline', ship_date=Date(16812), total_cost=24780.51953125, total_profit=8630.2099609375, total_revenue=33410.73046875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3581)
Row(region='Central America and the Caribbean', order_id=824714744, country='Dominican Republic', item_type='Baby Food', order_date=Date(15211), order_priority='H', sales_channel='Offline', ship_date=Date(15241), total_cost=43681.078125, total_profit=26265.640625, total_revenue=69946.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=274)
Row(region='Asia', order_id=116205585, country='Turkmenistan', item_type='Vegetables', order_date=Date(16538), order_priority='M', sales_channel='Online', ship_date=Date(16588), total_cost=606503.125, total_profit=421077.09375, total_revenue=1027580.1875, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=6670)
Row(region='Asia', order_id=153842341, country='Brunei', item_type='Cereal', order_date=Date(15853), order_priority='L', sales_channel='Offline', ship_date=Date(15902), total_cost=494438.40625, total_profit=374026.96875, total_revenue=868465.375, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=4222)
Row(region='Asia', order_id=176461303, country='Singapore', item_type='Snacks', order_date=Date(15733), order_priority='C', sales_channel='Online', ship_date=Date(15743), total_cost=747949.4375, total_profit=423254.625, total_revenue=1171204.125, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=7676)
Row(region='Asia', order_id=179137074, country='Nepal', item_type='Meat', order_date=Date(16122), order_priority='H', sales_channel='Online', ship_date=Date(16143), total_cost=3463096.25, total_profit=543171.1875, total_revenue=4006267.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9496)

In [41]:
# 3. Create Gold Tables
session.execute("""
CREATE TABLE IF NOT EXISTS gold_sales_by_region (
    region TEXT PRIMARY KEY,
    total_revenue FLOAT,
    total_profit FLOAT
)
""")
# Populate Gold Table 1: Sales by Region
region_data = session.execute("SELECT region, total_revenue, total_profit FROM silver_sales")
region_df = pd.DataFrame(region_data, columns=['region', 'total_revenue', 'total_profit'])
region_summary = region_df.groupby('region').sum().reset_index()
for _, row in region_summary.iterrows():
    session.execute("""
    INSERT INTO gold_sales_by_region (region, total_revenue, total_profit)
    VALUES (%s, %s, %s)
    """, (row['region'], row['total_revenue'], row['total_profit']))

session.execute("""
CREATE TABLE IF NOT EXISTS gold_top_items (
    item_type TEXT PRIMARY KEY,
    total_revenue FLOAT,
    units_sold INT
)
""")
# Populate Gold Table 2: Top Items by Revenue
item_data = session.execute("SELECT item_type, total_revenue, units_sold FROM silver_sales")
item_df = pd.DataFrame(item_data, columns=['item_type', 'total_revenue', 'units_sold'])
item_summary = item_df.groupby('item_type').sum().reset_index()
for _, row in item_summary.iterrows():
    session.execute("""
    INSERT INTO gold_top_items (item_type, total_revenue, units_sold)
    VALUES (%s, %s, %s)
    """, (row['item_type'], row['total_revenue'], row['units_sold']))

session.execute("""
CREATE TABLE IF NOT EXISTS gold_channel_profit (
    sales_channel TEXT PRIMARY KEY,
    total_profit FLOAT
)
""")

print("Gold tables created.")

# Populate Gold Table 3: Profitability by Sales Channel
channel_data = session.execute("SELECT sales_channel, total_profit FROM silver_sales")
channel_df = pd.DataFrame(channel_data, columns=['sales_channel', 'total_profit'])
channel_summary = channel_df.groupby('sales_channel').sum().reset_index()
for _, row in channel_summary.iterrows():
    session.execute("""
    INSERT INTO gold_channel_profit (sales_channel, total_profit)
    VALUES (%s, %s)
    """, (row['sales_channel'], row['total_profit']))

print("Data inserted into Gold tables.")

Gold tables created.
Data inserted into Gold tables.

In [44]:
# Retrieve and display all data for gold_sales_by_region
print("\nData in gold_sales_by_region:")
rows = session.execute("SELECT * FROM gold_sales_by_region")
for row in rows:
    print(f"Region: {row.region}, Total Revenue: {row.total_revenue}, Total Profit: {row.total_profit}")

Data in gold_sales_by_region:
Region: Australia and Oceania, Total Revenue: 10711258.0, Total Profit: 3486940.0
Region: Europe, Total Revenue: 34964748.0, Total Profit: 11267281.0
Region: Middle East and North Africa, Total Revenue: 24765128.0, Total Profit: 6514262.0
Region: Central America and the Caribbean, Total Revenue: 17570836.0, Total Profit: 4252300.0
Region: Asia, Total Revenue: 28840812.0, Total Profit: 6749896.0
Region: Sub-Saharan Africa, Total Revenue: 24225438.0, Total Profit: 7651892.0
Region: North America, Total Revenue: 3611757.5, Total Profit: 1404621.5

In [45]:
# Retrieve and display all data for gold_top_items
print("\nData in gold_top_items:")
rows = session.execute("SELECT * FROM gold_top_items")
for row in rows:
    print(f"Item Type: {row.item_type}, Total Revenue: {row.total_revenue}, Units Sold: {row.units_sold}")

Data in gold_top_items:
Item Type: Household, Total Revenue: 38519084.0, Units Sold: 57640
Item Type: Office Supplies, Total Revenue: 27880904.0, Units Sold: 42814
Item Type: Vegetables, Total Revenue: 1135114.125, Units Sold: 7368
Item Type: Snacks, Total Revenue: 2193642.75, Units Sold: 14377
Item Type: Personal Care, Total Revenue: 3191147.75, Units Sold: 39045
Item Type: Meat, Total Revenue: 21278866.0, Units Sold: 50437
Item Type: Fruits, Total Revenue: 615033.625, Units Sold: 65920
Item Type: Beverages, Total Revenue: 2145024.75, Units Sold: 45206
Item Type: Cereal, Total Revenue: 9416123.0, Units Sold: 45776
Item Type: Cosmetics, Total Revenue: 28727100.0, Units Sold: 65707
Item Type: Baby Food, Total Revenue: 5200564.0, Units Sold: 20372
Item Type: Clothes, Total Revenue: 4387373.5, Units Sold: 40148

In [46]:
# Retrieve and display all data for gold_channel_profit
print("\nData in gold_channel_profit:")
rows = session.execute("SELECT * FROM gold_channel_profit")
for row in rows:
    print(f"Sales Channel: {row.sales_channel}, Total Profit: {row.total_profit}")

Data in gold_channel_profit:
Sales Channel: Online, Total Profit: 24963806.0
Sales Channel: Offline, Total Profit: 16363386.0